html {
    font-size: 62.5%;
    color: $black;
}

body {
   font-family: 'Muli', sans-serif;
}

h1, h2, h3 {
   font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 35px;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.57;
    padding-top: 25px;
}
.thankYou {
    margin-bottom: 0px;
}
h3 {
   font-size: 2rem;
}

p, label, input[type="text"] {
   font-size: 1.7rem;
   line-height: 1.5rem;
}

a {
    color: $black;
}
.question {
    font-weight: 700;
    font-size: 1.8rem;
    color: $blue;
}

@media (min-width:460px) {
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 2.5rem;
    }
}

@media (min-width:768px) {
    h1 {
        font-size: 8rem;
    }
}